.mainIndex {
  height: 90vh;
  background-image: url(/public/asset/id/onini-wall.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Content {
  height: 95%;
  width: 75%;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  & h1 {
    font-size: 2.5rem;
  }
  & p {
    font-size: 1.6rem;
    color: var(--col-01);
  }
}
.mainIndexFoot {
  height: 5%;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  & p {
    font-weight: 300;
  }
} /* MODAL LOGIN (BASE) */
.modalLogin {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity var(--ani-01);
  z-index: 9999;
}
/* Mostrar modal */
.modalLogin.active {
  opacity: 1;
  pointer-events: all;
}

/*  MODAL BOX / WRAPPER */
.modalWrapper {
  position: relative;
  background: var(--col-02-2);
  padding: 2rem;
  border-radius: 0.75rem;

  width: min(90%, 400px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  animation: slideUp 0.3s ease;
}

/* Header */
.formhead {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotipoform {
  width: 6rem;
  height: auto;
}

/* FORM CAMPOS */
.boxSquad {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.inputText {
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: var(--col-01);

  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.inputBar {
  padding: 0.75rem;
  border: 1px solid var(--col-03);
  background: transparent;
  color: var(--col-01);

  border-radius: 0.4rem;
  outline: none;

  transition: border-color var(--ani-01), background var(--ani-01);
}

.inputBar:focus {
  border-color: var(--col-03-2);
  background: rgba(255, 118, 0, 0.08);
}

/* = BOTÃO = */
.boxButton button {
  width: 100%;
  padding: 0.75rem;

  border-radius: 0.4rem;
  border: none;

  cursor: pointer;
  background: var(--col-03);
  color: #111;

  font-weight: bold;
  transition: background var(--ani-01), color var(--ani-01);
}

.boxButton button:hover {
  background: var(--col-03-2);
  color: var(--col-01);
}

/* ================================
   BOTÃO FECHAR (X)
================================== */
.closeModal {
  position: absolute;
  top: 1rem;
  right: 1rem;

  font-size: 1.75rem;
  background: transparent;
  border: none;
  color: var(--col-01);

  cursor: pointer;
  transition: color var(--ani-01), transform var(--ani-01);
}
.closeModal:hover {
  color: var(--col-03);
  transform: scale(1.1);
}

/* ANIMAÇÕES */
@keyframes slideUp {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animação de fechar */
.modalLogin.closing .modalWrapper {
  animation: slideDown 0.25s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(25px);
    opacity: 0;
  }
}

/* Modal Register (corrige o posicionamento) */
.modalRegister {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: var(--ani-01);
  z-index: 9999;
}
.modalRegister.active {
  opacity: 1;
  pointer-events: all;
}
.switchLink {
  padding: 1rem 0;
  cursor: pointer;
  color: var(--col-03);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* Pop-ups */
.popup-error {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--col-01);
  padding: 1rem 1.4rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 600;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 99999;
  user-select: none;
  background: linear-gradient(
    30deg,
    rgb(215, 0, 0) 0%,
    rgba(34, 34, 34, 1) 60%
  );
  border: 2px solid red;
  & ion-icon {
    font-size: 1.25rem;
  }
}
.popup-error.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
/* Sucesso */
.popup-success {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background: #28c840;
  color: var(--col-01);
  padding: 1rem 1.4rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 600;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition: 0.3s ease;
  z-index: 99999;
  user-select: none;
  background: linear-gradient(
    30deg,
    rgb(39, 215, 0) 0%,
    rgba(34, 34, 34, 1) 60%
  );
  border: 2px solid #28c840;
  & ion-icon {
    font-size: 1.25rem;
  }
}

.popup-success.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* =======  S L I D E S ======= */
.slide-section {
  padding: 3rem 5rem;
  position: relative;
}
.slide-section h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--col-01);
  text-transform: capitalize;
}
/* Banner */
.slide-wrapper {
  padding: 0 5rem;
}
.slideModal {
  width: 100%;
  padding: 8rem 2rem;
  border-radius: 0.75rem;
  background-image: url(/public/asset/id/Yoru-Banner.webp);
}
/* === G R A D I E N T === */
.slide-shell {
  width: 100%;
  position: relative;
}
.slide-shell::before,
.slide-shell::after {
  content: '';
  height: 100%;
  width: 80px;
  position: absolute;
  top: 0;
  pointer-events: none;
  z-index: 10;
}
.slide-shell::before {
  left: 0;
  background: linear-gradient(
    to right,
    var(--bg-color, var(--col-02)) 0%,
    transparent 100%
  );
}
.slide-shell::after {
  right: 0;
  background: linear-gradient(
    to left,
    var(--bg-color, var(--col-02)) 0%,
    transparent 100%
  );
}
/* Card */
.lauch {
  padding: 3rem 5rem;
  position: relative;

  & h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--col-01);
    text-transform: capitalize;
  }
}
/* Slide horizontal */
.slide-01 {
  height: 288px;
  padding-bottom: 1rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: auto;
  scrollbar-width: none;
}
.slide-01::-webkit-scrollbar {
  display: none;
}

/* Arrows */
.arrow {
  height: 17.9rem;
  width: 2.8rem;
  font-size: 2rem;
  color: var(--col-03);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24.8%;
  z-index: 20;
  backdrop-filter: blur(4px);
  border: 1px solid var(--border-search);
  border-radius: 1rem;
  background: var(--bg-search);
  transition: var(--ani-01);
}
.arrow:hover {
  border: 1px solid var(--col-03-3);
  background-color: var(--col-03-3);
}
.arrow.left {
  left: 1rem;
}
.arrow.right {
  right: 1rem;
}
/* Card */
.card-wrapp {
  width: 10rem;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  transition: var(--ani-01);
  & img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: var(--ani-01);
  }
  & h3 {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--col-01);
    display: -webkit-box;
    -webkit-line-clamp: 2; /* limite de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
/* Hover */
.card-wrapp:hover img {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.card-wrapp:hover {
  color: var(--col-03, var(--col-01));
}
/* Responsivo */
@media (max-width: 768px) {
  .launch {
    padding: 2rem;
  }

  .card-wrap {
    width: 8rem;
  }

  .card-wrap img {
    height: 12rem;
  }
}

/* MODAL ANIME */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none; /* fica escondido por padrão */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto;
  transition: opacity 0.3s ease;
}
.modal.open {
  display: flex;
  opacity: 1;
}

.modal-content {
  background: #111;
  padding: 2rem;
  border-radius: 0.75rem;
  width: 90%;
  max-width: 500px;
  color: var(--col-01);
  position: relative;
  text-align: center;
}
.modal.open .modal-content {
  transform: scale(1);
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: var(--col-01);
  cursor: pointer;
}

/* Overlay */
.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.25s ease;
}

/* Card */
.logout-content {
  width: 380px;
  background: var(--col-02-2);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--shadown-header);
  transform: translateY(-20px);
  transition: var(--ani-01);
}
.logout-modal.show {
  display: flex;
  opacity: 1;
}
.logout-modal.show .logout-content {
  transform: translateY(0);
}

/* Text */
.logout-content h2 {
  margin: 0 0 0.5rem;
  font-size: 1.4rem;
  color: var(--col-01);
}
.logout-content p {
  color: var(--col-01);
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

/* Buttons */
.logout-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-cancel,
.btn-confirm {
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  transition: 0.2s;
}

/* Cancelar */
.btn-cancel {
  background: transparent;
  color: var(--col-01);
  border: var(--search-02);
}

.btn-cancel:hover {
  background: var(--result-01);
}

/* Confirmar */
.btn-confirm {
  background: var(--col-red-01);
  color: var(--col-01);
}

.btn-confirm:hover {
  background: var(--col-red-02);
}
/* outhers */
.btn-excluir {
  background-color: var(--col-red-01);
  &:hover {
    background: var(--col-red-02);
  }
}
